html, body {
  height: 100%;
  width: 100%;
  background: #eee;
}
* {
  margin: 0;
}
header {
  background: rgba(255, 255, 255, 0.7);
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
}
header>p {
  font-size: 40px;
  font-weight: 900;
  transform: translate(0, 10px)
}
#main {
  padding-top: 75px;
  height: 100%;
  width: 80%;
  font-family: "Arial", "メイリオ";
  margin-left: auto;
  margin-right: auto;
}
#main > * {
  font-family: "Arial", "メイリオ";
}
#las {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  outline: none;
}
